{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
      <div class="card mb-2">
        <div class="card-body">
          <h5>Total items:  {{totalitems}}</h5>
          <p class="fw-bold">GRAND TOTAL: {{total}} &#8377;</p>
        </div>
      </div>

  
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1 my-4">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone">
    {% for customer in customers %}
      <div class="card my-3">
        <div class="card-body">
        <h5>{{customer.name}}</h5>
        <p>{{customer.addres}}--<strong>{{customer.city}}</strong>--<strong>{{customer.state}}</strong></p>
        <strong>{{customer.pincode}}</strong>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forlooop.counter}}" value="{{customer.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forlooop.counter}}">
            Address: 1 </label>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}