{% extends 'app/base.html' %}
{% load static %}
{% block title %}FruitsAndVegtitables{% endblock title %}
{% block main-content %}

<div class="container my-4">
  <div class="row row-cols-4">
  {% for fruit in fruits %}
  
  <span class="border border-success">
    <div class="col my-4">
    <div> <a href="{% url 'product-detail' fruit.0.id %}"><img src="https://static9.depositphotos.com/1642482/1149/i/450/depositphotos_11490427-stock-photo-three-bananas.jpg" class="img-fluid"  alt="..."> </a></div>
      <div class="my-2">
        <div>
         <strong>{{fruit.0.title}}</strong>
         
         <div class="my-2">
         <strong><p class="d-inline text-danger font-weight-bold">&#8377; {{fruit.0.selling_price}}</p></strong>
         <p class="d-inline">{{fruit.0.quantity}}</p>
         </div>

         {% if fruit.1 > 0 %}
         <span class="btn btn-warning btn-sm">{{fruit.1}}&#37; OFF</span>
         {% endif %}

         
        </div> 
      </div>
    </div>
   </span>
   
  {% endfor %}
  </div>

</div>

{% endblock main-content %}
